<div class="sidenav">
    <div class="logo">
        <a routerLink="/" class="simple-text logo-mini">
            <div class="logo-img">
                <img src="../../../favicon.ico" alt="" > 
            </div>
        </a>
        <a routerLink="/" class="simple-text logo-normal">
            covumTour
        </a>
    </div>
    <ul class="nav">
        <li class="active">
            <a routerLink="/"><i class="fas fa-chart-line" ></i>Dashboard</a>
        </li>
        <li><a routerLink="/students"><i class="fas fa-random" ></i>Student</a></li>
        <li><a routerLink="/teachers"><i class="fas fa-money-check-alt" ></i>Teachers</a></li>
    </ul>
</div>